:root {
  --link-color: #9424f5;
}

.App {
  text-align: center;
}

.App a {
  color: var(--link-color);
  font-weight: 600;
  text-decoration: none;
}
.App a:hover {
  text-decoration: underline;
}
.App footer {
  font-size: 18px;
  margin-bottom: 30px;
}
